.addItemCotent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-image: url(../assets/city.jpg);
  background-size: cover;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #98c210ce;
  }
}

.div-form {
  max-width: 35rem;
  border: 1px solid var(--green);
  border-radius: 1rem;
  background-color: #98c2101c;
  backdrop-filter: blur(6px);
  padding: 3rem;
  animation: appear 0.2s ease-in-out 0.1s forwards;
}

form div,
form div label {
  width: 100%;
}

label.form-label {
  color: white;
}

.div-form button {
  border: 2px solid var(--green);
  background-color: rgba(153, 194, 16, 0.3);
  margin-top: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  text-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
  filter: drop-shadow(-0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1));
}

.div-form button:hover {
  transform: scale(1.1);
  border: 2px solid var(--green-hover);
  background-color: var(--green-hover);
  animation: fadeInTop 0.2s ease-in-out 0.7s forwards;
}

.div-message {
  position: absolute;
  top: 44rem;
  color: #fff;
  font-size: 1.15rem;
  font-weight: 400;
}
