.deleteItemContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-image: url(../assets/city.jpg);
  background-size: cover;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #98c210ce;
  }
}

.div-list {
  width: 50%;
  max-width: 50rem;
  border-radius: 1rem;
  background-color: #8fb60f4f;
  backdrop-filter: blur(6px);
  padding: 1rem;
  animation: appear 0.2s ease-in-out 0.1s forwards;
}

div.deleteItemContent span {
  width: 75%;
  padding: 0.25rem 1rem;
  text-align: center;
  background-color: #fff;
  color: var(--green-hover);
  border: 2px solid var(--green-hover);
  border-radius: 2rem;
}

div.deleteItemContent button {
  border: 2px solid var(--green);
  background-color: var(--green);
  font-weight: bold;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(-0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1));
}

div.deleteItemContent button:hover {
  transform: scale(1.1);
  border: 2px solid var(--green-hover);
  background-color: var(--green-hover);
  animation: fadeInTop 0.2s ease-in-out 0.7s forwards;
}

.div-message {
  font-size: 1.15rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .div-list {
    width: 100%;
    button {
      margin-left: 0.5rem;
    }
  }
}
